
.header {  
  padding: 20px;
  background: #fff;
  &__container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
  }
      color: $headerColor;
      color: #272727;
      margin-left: 22px;
    }
  }
}