/*----------BASE---------*/
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville");
@font-face {
  font-family: 'Poppins-Regular';
  src: url("../../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Poppins-Regular.otf") format("opentype"), url("../../fonts/Poppins-Regular.woff") format("woff"), url("../../fonts/Poppins-Regular.ttf") format("truetype"), url("../../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Wisdom Script';
  src: url("../../fonts/Wisdom-Script.eot");
  src: url("../../fonts/Wisdom-Script.eot?#iefix") format("embedded-opentype"), url("../../fonts/Wisdom-Script.woff2") format("woff2"), url("../../fonts/Wisdom-Script.woff") format("woff"), url("../../fonts/Wisdom-Script.svg#Wisdom-Script") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00AE; }

@font-face {
  font-family: 'Myriad_Regular';
  src: url("../../fonts/Myriad_Regular.eot");
  src: url("../../fonts/Myriad_Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Myriad_Regular.woff2") format("woff2"), url("../../fonts/Myriad_Regular.woff") format("woff"), url("../../fonts/Myriad_Regular.svg#o Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'Poppins-Regular'; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border: none;
  background: transparent; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

/*----------THEME---------*/
.btn {
  padding: 18px 40px;
  border-radius: 30px;
  font-size: 16px;
  text-transform: uppercase; }
  .btn__orange {
    background: #fc5f45;
    color: #fff; }

/*----------LAYOUT---------*/
.header {
  padding: 20px;
  background: #fff; }
  .header__container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
  .header__logo {
    font-family: 'Wisdom Script';
    font-size: 35px;
    color: #272727;
    text-decoration: none; }
    .header__logo:first-letter {
      color: #fc5f45; }
  .header__nav {
    display: flex;
    align-items: center; }
    .header__nav a {
      display: block;
      font-size: 14px;
      color: #272727;
      margin-left: 22px; }

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 780px;
  background-color: #cccccc;
  background-size: cover; }
  .banner:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #262732;
    opacity: 0.85; }
  .banner__wrapper {
    position: relative;
    z-index: 1; }
  .banner__title {
    font-family: 'Libre Baskerville', serif;
    font-size: 60px;
    color: #fff;
    text-align: center;
    line-height: 95px;
    margin-bottom: 40px;
    margin-top: -70px; }
  .banner .btn {
    display: block;
    margin: 0 auto; }
  .banner__container {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
  .banner__icon1 {
    color: #3aa281;
    margin: 0 auto;
    text-align: center; }
  .banner__icon2 {
    color: #b27cf5;
    margin: 0 auto;
    text-align: center;
    margin-right: 25px; }
  .banner__icon3 {
    color: #feb960;
    margin: 0 auto;
    text-align: center; }
  .banner .icon_title {
    margin-top: 40px;
    font-family: 'Myriad_Regular';
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px; }
