.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 780px;
  background-color: #cccccc;
  background-size: cover;
  &:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #262732;
    opacity: 0.85;
  }
  &__wrapper {
    position: relative;
    z-index: 1;
  }
  &__title {
    font-family: 'Libre Baskerville', serif;
    font-size: 60px;
    color: #fff;
    text-align: center;
    line-height: 95px;
    margin-bottom: 40px;
    margin-top: -70px;
  } 
  .btn {
    display: block;
    margin: 0 auto;
  }
  &__container {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  &__icon1 {
    color: $green;
    margin: 0 auto;
    text-align: center;
}
  &__icon2 {
    color: $violet;
    margin: 0 auto;
    text-align: center;
    margin-right: 25px;
  }
  &__icon3 {    
    color: $yellow;
    margin: 0 auto;
    text-align: center;   
  }
  .icon_title {
    margin-top: 40px;
    font-family: 'Myriad_Regular';
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;   
  }
}